.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 5s;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 5s;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 5s;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 5s;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 5s;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: all 3s;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 3s;
}
.ex-10-icon {
    font-size: 60px;
    animation: loading 3s linear infinite;
}
.ex-11-icon{
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* INIZIO ESERCIZIO */

/* Esercizio 1 */
.ex-1-square:hover{
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square:active{
    width: 100%;
}
/* Esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
}
/* Esercizio 4 */
.ex-4-square:hover{
    opacity: 0;
}
/* Esercizio 5 */
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}
.ex-5-square:active {
    width: 30px;
    height: 30px;
}
/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}
/* Esercizio 7 */
.ex-7-img:hover {
    filter: contrast(200%);
    filter: sepia(200%);
}
/* Esercizio 8 */
.ex-8-img:hover {
    filter: saturate(10);
    filter: blur(1px);
    border-radius: 10%;
}
/* Esercizio 9 */
.ex-9-img:hover {
    filter: invert(100%);
    filter: sepia(200%);
    border-radius: 10%;
    width: 800px;
}
/* Esercizio 10 */
@keyframes loading {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
     }
  }
/* Esercizio 11 */
.ex-11-icon:hover{
    animation: loading_45 3s linear;
}
@keyframes loading_45 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
     }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(320deg);
     }
    100% {
        transform: rotate(0deg);
     }
  }
/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: linear_movement_right 3s linear;
}
@keyframes linear_movement_right {
    0% {
        left: 10%;
    }
    50% {
        left: 65%
     }
    100% {  
        left: 10%;
     }
  }
  .ex-12-button:hover .ex-12-bottom-white{
    animation: linear_movement_left 3s linear;
}
@keyframes linear_movement_left {
    0% {
        right: 10%;
    }
    50% {
        right: 65%
     }
    100% {  
        right: 10%;
     }
  }
